body, a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

main {
  position: relative;
  padding-top: 44px;
}


/* Header Area Styles*/

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 10px;
  text-decoration: underline;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 350px;
}

.logo {
  height: 50px;
  margin: 10px;
}


/* Hero Image Area Styles */

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height:700px;
  width:1200px;
  margin: 0 auto;
}
